;; Watch Out: prometheus logs need a lot of space !!!
[Unit]
Description=Prometheus service
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=/bin/sh -c 'docker rm -f %n 2>/dev/null || true'
ExecStartPre=/usr/bin/docker pull registry.service.consul:5000/cluster.coreos.prometheus:latest
ExecStart=/bin/sh -c 'docker run --name %n -p 9090:9090 registry.service.consul:5000/cluster.coreos.prometheus -config.file=/etc/prometheus/prometheus.yml -storage.local.retention=72h -alertmanager.url=http://192.168.11.6:9093'
ExecStop=/usr/bin/docker rm -f %n
RestartSec=5s
Restart=always

[X-Fleet]
;; Be sure to launch it on a node with sufficient disc space
MachineMetadata=text-disc_size=large
